
/******** INITIAL STYLES ********/

*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: sofia-pro, sans-serif;
	font-weight: 500;
	color: black;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
}


/******** NAV ********/

#mainnav {
    display: block;
    position: relative;
    z-index: 6;
    background-color: black;
}

#mainnav .navLink {
    position: fixed;
    text-decoration: none;
    color: black;
    z-index: 10;
}

#mainnav #about {
    top: 250px;
    left: 40px;
    transform-origin: right top;
    transform: translateX(-100%) rotate(-90deg);
}

#mainnav #play {
    right: 40px;
    top: 250px;
    transform-origin: left top;
    transform: translateX(100%) rotate(90deg);
}

#mainnav #work {
    top: 650px;
    left: 40px;
    transform-origin: left bottom;
    transform: translateY(-100%) rotate(-90deg) translateY(100%);
}

#mainnav #logo {
    position: fixed;
    top: 10px;
    left: 17px;
    width: 70px;
    z-index: 100;
}

.topline {
    position: fixed;
    content: ' ';
    display: inline-block;
    transform-origin: left bottom;
    transform: translateY(-100%) rotate(-90deg) translateY(100%);
    width: 90px;
    height: 0.5px;
    background: black;
    line-height: 1px;
    vertical-align: middle;
    margin-left: 6px;
    margin-bottom: 3px;
    top: 90px;
}

.divider {
    position: fixed;
    content: ' ';
    display: inline-block;
    transform-origin: left bottom;
    transform: translateY(-100%) rotate(-90deg) translateY(100%);
    width: 70px;
    height: 1px;
    background: black;
    line-height: 0.5px;
    vertical-align: middle;
    margin-left: 6px;
    margin-bottom: 3px;
    top: 480px;
}

#rightline {
    right: -35px;
}

#lineone, #leftline {
    left: 45px;
}

#linetwo {
    right: -15px;
}

#mainnav #contact {
    top: 650px;
    right: 40px;
    transform-origin: right bottom;
    transform: translateY(-100%) rotate(90deg) translateY(100%);
}


/******** MOBILE NAV *******/
#mobileNav {
	display: none;
}

#menuToggle{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: black;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu a {
	color: white;
	padding: 20px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}



/******** HOME PAGE ********/

main {
	position: relative;
	width: 100%;
	overflow: hidden;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover,
a:focus {
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
	height: 200px;
}

/* SVG Morph */
.morph-wrap {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.morph {
	position: relative;
	height: 100%;
	flex: none;
}

.top-header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin-top: 200px;
	height: 70vh;
	min-height: 600px;
	pointer-events: none;
}

h1 {
	margin: 0;
	text-align: center;
    font-weight: 100;
    font-size: 3.5vmax;
    line-height: 4.5vmax;
    letter-spacing: 2px;
}

.memojiImg {
	margin: 0 auto;
}

.memojiImg img {
	width: 100px;
}

#name {
    font-weight: 800;
}

#scrollDown {
	margin-top: 70px;
}

.scroller {
    width: 1px;
	background: rgba(196, 196, 196, 0.438);
	height: 150px;
    position: relative;  
    left: 50%;
    bottom: 0;
    overflow: hidden;
}

.scroller::before {
    content: '';
    position: absolute;
    height: 40px;
    background: #000000;
    width: 1px;
    animation: scroller 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

@keyframes scroller {
    0% {transform: translateY(-52px)}
    100%  {transform: translateY(188px)}
}

.layout--1 {
	justify-content: flex-start;
	margin-left: 100px;
	margin-right: 100px;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100vh;
	min-height: 600px;
	pointer-events: none;
}

.layout--2 {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	height: 100vh;
	min-height: 600px;
	pointer-events: none;
	margin-right: 100px;
}

.content--layout-2 {
	margin-right: 200px;
}

.layout--1 .content__img {
	margin-right: 100px;
}

.layout--2 .content__img {
	margin-left: 100px;
}

.content {
	position: relative;
	display: grid;
}

.content--layout {
	pointer-events: auto;
}

.content--related {
	text-align: center;
	align-content: center;
	justify-content: center;
	padding: 0 2em;
	min-height: 600px;
	height: 100vh;
	font-size: 0.85em;
}

.content__img {
	width: 600px;
}

.content__title {
	font-size: 48px;
    font-weight: 200;
	margin: 0;
	padding: 0;
	cursor: default;
}

.content__desc {
	font-size: 22px;
    font-weight: 300;
    padding: 0;
	margin: 0;
	cursor: default;
}

.content__img,
.content__title,
.content__desc {
	transition: transform 0.3s ease-out;
}

.content__link {
	font-size: 16px;
    display: inline-block;
    margin-top: 18px;
    padding: 0;
	pointer-events: auto;
	color: black;
}

h6 .arrow{
    transition: transform 0.2s ease-in-out;
    padding-left: 8px;
}

h6:hover .arrow{
    position: relative;
    transform: translateX(10px);
    transition: transform 0.2s ease-in-out;
}

.content__info {
	grid-column: 1 / 3;
}

.content__related-item {
	padding: 1em;
	transition: color 0.3s;
}

.content__related-img {
	max-width: 100%;
	opacity: 0.8;
	transition: opacity 0.3s;
}

.content__related-item:hover .content__related-img,
.content__related-item:focus .content__related-img {
	opacity: 1;
}

.content__related-title {
	font-size: 1em;
	margin: 0;
	padding: 0.5em;
}

.content--layout-2 .content__img {
	grid-column: 3 / 5;
	grid-row: 1 / 3;
}

.content--layout-2 .content__desc {
	text-align: left;
}


.footer {
	background-color: black;
	height: 50vh;
}


/******* PLAY PAGE *******/

#pageTitle {
	margin-top: 100px;
}

#playGallery {
	width: 90%;
	margin: 50px auto 0;
}

li {
	list-style: none;
}

.playItem {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
	margin: 20px;
}

/******* MEDIA QUERIES *********/

@media screen and (max-width: 1410px) {
	.content__img {
		width: 400px;
	}

	.content__title {
		font-size: 40px;
	}
}


@media screen and (max-width: 1250px) {
	.content--layout-2 {
		margin-right: 0;
	}
}

@media screen and (max-width: 1000px) {
	#mainnav {
		display: none;
	}

	#mobileNav {
		display: block;
	}

	.content {
		margin-top: 100px;
	}

	.layout--1 {
		flex-direction: column;
	}

	.layout--2 {
		flex-direction: column-reverse;
	}

	.content__img {
		margin-top: 100px;
	}
}

@media screen and (max-width: 768px) {
	.layout--1 {
		height: auto;
	}

	.layout--2 {
		height: auto;
	}
}

@media screen and (max-width: 32em) {
	
	.content__desc,
	.content__link {
		font-size: 1.35em;
	}

}

@media screen and (max-width: 28em) {
	

}
